body {
  letter-spacing: 0.02em;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 0.05em;
}


// activate responsive font size utilities e.g. fs-md-1, fs-lg-2
$utilities: map-merge(
  $utilities,
  (
    "font-size": map-merge(
      map-get($utilities, "font-size"),
      (
          responsive: true,
          property: font-size,
          values: $font-sizes
      )
    )
  )
);

.form-control.is-invalid {
  background-image: none;
  border-color: $alert-100 !important;
}
.invalid-feedback {
  margin-top: 7px;
  color: $alert-100;
  font-weight: 700;
}

.btn.btn-primary-100:disabled {
  background: $neutral-40;
  opacity: 1;
  border-color: $neutral-40;
  color: $neutral-60 !important;
}